.side-bar a{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 25px;
	font-weight: 600;
}
.side-bar a:hover{
	background-color: #fff !important;
	color: #015550;
}

.side-bar .active{
	background-color: #fff !important;
	color: #015550;
}
.side-bar{
	background-color: #015550 !important;
	color: #fff !important;
	
}
.bien22 .side-bar{
	padding-top: 15px;
	width: 15%;
	height: 87%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #015550;
	overflow-y: auto;;
	
}
.afficher{
	display: none;
  	transition: 0.9s ease;
	transition-property: left;  
}

.side-menu{
    width: 100%;
	padding-top: 20px;
}

.side-bar .side-menu .side-link{
	color: #fff;
	font-size: 30px !important;
	font-weight: 500;
	text-decoration: none;
	display: block;
	padding-left: 20px !important;
	padding: 20px  30px;
	line-height: 20px;
	min-width: fit-content !important;
}
.side-bar .side-menu .side-link span{
	font-size: 21px !important;
	padding-left: 10px;
	font-weight: 400 !important;
}

.side-bar .side-menu .side-link:hover{
   cursor: pointer;
   color: #000;
   display: block;
	min-width: fit-content !important;
   background-color: #fff;
   transition: 0.4s ease;
}

.side-bar .active{
	color: #000 !important;
	background-color: #fff;
	min-width: fit-content !important;
	position:relative;
}
.side-bar .active::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 80%;
	bottom: 50%;
	right: 0;
	transform: translateY(50%);
	background-color:#015550;
	border-radius: 15px;
}
.side-bar .active{
	color: #000 !important;
	background-color: #fff;
	min-width: fit-content !important;
	position:relative;
}


