.ventePrd {
	position: relative;
	max-height: 531.17px !important;
	border: 1px solid rgb(14, 13, 13);
	border-radius: 5px;
	overflow-y: auto;
}

.venteFac {
	position: relative;
	max-height: 531.17px !important;
	border: 1px solid rgb(14, 13, 13);
	border-radius: 5px;
	overflow-y: auto;
}

.hautProd {
	/* position: fixed; */
	top: 0 !important;
	background-color: white !important;
	height: 100px !important;
}

.headerPro {
	background-color: #eff3f2 !important;
}

.facbtnSup:hover {
	background-color: red !important;
	color: #fff !important;
}
.facbtnAdd:hover {
	background-color: rgb(0, 81, 255) !important;
	color: #fff !important;
}

@media only screen and (max-width: 1199.5px) {
	.coteFAC {
		margin-top: 20px !important;
		padding: 0% !important;
	}
}

@media only screen and (min-width: 1200.5px) {
	.coteFAC {
		padding-left: 10px !important;
	}
}