.recherche {
	width: 40% !important;
	min-height: 45px;
	border-radius: 5px;
	border: 2px solid #015550;
}

.btnAjout {
	width: 20% !important;
	text-align: center;
	min-height: 45px;
	border: 2px solid #015550;
	border-radius: 5px;
	font-weight: 500;
	color:  #fff;
	background-color: #015550;
	text-decoration: none;
}
.btnAjout:hover{
	width: 20% !important;
	text-align: center;
	min-height: 45px;
	border: 2px solid #015550;
	border-radius: 5px;
	font-weight: 500;
	color:  #015550 ;
	background-color: #fff;
}
th,td{
	height: 50px;
	text-align: center !important;
}

.actionEDS a , .actionEDS button{
	border: none;
	background-color: transparent !important;
	color: rgb(95, 93, 93);
}
.actionEDS a:hover , .actionEDS button:hover{
	color: #015550;
}

/* Style du bouton */
.description {
	/* background-color: #4CAF50; Couleur de fond */
	/* color: white; Couleur du texte */
	/* padding: 10px 20px; Espacement interne */
	border: none; /* Suppression de la bordure */
	border-radius: 4px; /* Arrondi des coins */
	position: relative; /* Positionnement relatif */
  }
  
  /* Style du texte descriptif */
  .description .cription {
	font-size: 15px;
	visibility: hidden; /* Le texte est caché par défaut */
	width: 80px; /* Largeur de l'élément */
	background-color: black; /* Couleur de fond */
	color: #fff; /* Couleur du texte */
	text-align: center; /* Centrage du texte */
	border-radius: 6px; /* Arrondi des coins */
	padding: 5px 0; /* Espacement interne */
	position: absolute; /* Positionnement absolu */
	z-index: 1; /* Superposition au-dessus du bouton */
	bottom: 100%; /* Décalage vers le haut */
	left: 50%; /* Décalage vers la gauche */
	margin-left: -60px; /* Alignement centré */
  }
  
  /* Affichage du texte lorsqu'on survole le bouton */
  .description:hover .cription {
	visibility: visible;
  }
  