.layout #navar {
	width: 100%;
	max-height: 13% !important;
	position: fixed;
	top: 0;
}
.bg-light{
	height: 100%;
}
.navar{
	z-index: 1 !important;
	height: 100% !important;
}



.lNS-droit {
	z-index: 0 !important;
	padding-left: 15px;
	width: 100%;
	height: 87%;
	position: fixed;
	bottom: 0;
	right: 0;
	overflow-y: scroll;
	background-color: rgb(242, 242, 242);
	scrollbar-color: #015550 #015550 !important;
	scrollbar-color: #015550 !important;
}
.bien22 .lNS-droit {
	z-index: 0 !important;
	padding-left: 10px;
	width: 85%;
	height: 87%;
	position: fixed;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	background-color: rgb(242, 242, 242);
}
