.navar .titleH{
	font-family: cursive;
	font-size: 25px;
	font-weight: 700;
}

.navar .logoNavbar{
	height: 50px !important;
}

.btnContAffi{
	border: none !important;
	border-radius: 5px;
    background-color: #fff;

}
.btnAffi{
	border: none !important;
  color: #626161;
	border-radius: none !important;
	font-size: 27px;
  background-color: #fff;
}
