/* image profil */
.dropNAvbar #dropdown-custom-1 {
	background-color: #fff !important;
	border: none;
}

.dropNAvbar img {
	height: 40px;
	width: 40px;
	border-radius: 50% !important;
	object-fit: cover;
}

.dropNAvbar a {
	text-decoration: none;
	color: #18113c;
	font-weight: 700;
}

.dropNAvbar button {
	background-color: rgb(235, 39, 39);
	color: #18113c;
	font-weight: 700;
	border: none;
}

.dropNAvbar .bDprdNb :hover {
	background-color: rgb(213, 96, 96) !important;
}

.dropdown-toggle::after {
	display: none;
}
.dropNAvbar .btnMenu{
	color: black !important;
	font-size: 23px !important;
}